.colorCard {
  /*  background-color: rgba(0, 136, 255, 0.49);
  background: linear-gradient(
    315deg,
    rgba(156, 140, 234, 0.811) 0%,
    rgba(95, 110, 242, 0.77) 88%
  ); */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.divText {
  background-color: #aed4ef;
}

.enlace {
  text-decoration: none;
  color: white;
}
.enlace:hover {
  color: #f68c09;
}
.imgclima {
  width: 60%;
  height: 60%;
}

.boton {
  width: 30px;
}
