@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');
// font-family: 'Montserrat', sans-serif;
$font-family-base: 'Montserrat', sans-serif;

$success: rgba(79, 91, 172, 0.331);
$primary: #313fa0;

$enable-negative-margins: true;
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/utilities';

.App {
  background: linear-gradient(rgb(0, 0, 0, 0.3) 0%, rgb(0, 0, 0, 0.5) 100%),
    url('../image/globo3.jpg');
  /* background-image: url('../image/globo3.jpg'); */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.card {
  width: 18rem;
}

/* .nubes {
  background-image: url('../image/cielo10.jpg');
} */

/* .divCard {
  background-image: url('../image/cielo\ y\ mar.gif');
  background-size: cover;
  background-position: center;
} */

/* .imgeciudad {
  width: 60%;
  height: 60%;
}
.alto {
  width: 100px;
}
.contimg {
  height: 100px;
}

.bordecard {
  border-bottom: 1px solid white;
} */
/* @include media-breakpoint-up(sm) {
  .barra {
    width: 180px;
  }
} */

.alto {
  width: 280px;
  background-color: #4f5bac;
}
@media (min-width: 992px) {
  .bordecard {
    border-right: 1px solid rgb(213, 207, 207);
    border-bottom: none;
  }
}
@media (min-width: 576px) {
  .alto {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .alto {
    width: 600px;
  }
}
@media (min-width: 992px) {
  .alto {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .alto {
    width: 1100px;
  }
}

.sobre {
}
